  <% for post in @posts %>
      <h4><%= post["activity"] %></h4>
      <p><%= post["date"] %></p>
      <p><%= post["details"] %></p>
      <img class="img-fluid" src="<%= post["image"] %>" class="w-full">
    </div>
  <% end %>
</div>

