<h1>Edit Place</h1>

<form action="/places/<%= @place["id"] %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <p>
    <label for="city">City</label>
    <input type="text" city="city" value="<%= @place["city"] %>">
  </p>

  <p>
    <label for="country">Country</label>
    <input type="text" name="country" value="<%= @place["city"] %>">

    <label for="post">Post</label>
    <input type="text" name="post" value="<%= @place["post"] %>">
  </p>
  <button>Save</button>
</form>