<h1>New Place</h1>

<form action="/places" method="post">
<p>
    <label for="city">City</label>
    <input type="text" name="city" id="city">
  </p>

  <button>Submit</button>
  <p><a href="/places">Cancel</a></p>
</form>

