<h1>New Place</h1>

<form action="/places" method="post">
<p>
    <label for="city">City</label>
    <input type="text" name="city">
  </p>

  <p>
    <label for="country">Country</label>
    <input type="text" name="country">

    <label for="post">Post</label>
    <input type="text" name="post">
  </p>
  <button>Submit</button>
</form>

